.Welcome{
    background-image: url("../images/welcome.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
  
}

.btn {
	padding: 10px 20px;
	font-size: 40px;
	cursor: pointer;
	position: relative;
	border: 2px solid #4a6595;
	outline: none;
	color: white;
	background-color: transparent;
	margin: 40px;
	font-family: "Merriweather", serif;
	white-space: nowrap;
    
}





.btnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

